/* ====================================================

  CSS FOR THE DEMO PAGE
  You can delete this file and its containing
  folder (demo) when you start your project.

  =====================================================*/
html {
  height: 100%;
}

body {
  height: 100%;
}

.hero {
  background: $color-primary-darkest;
  width: 100%;
}

.hero__content {
  padding-bottom: 10rem;
  padding-top: 10rem;

  > p {
    color: $color-cool-blue-lighter;
  }
}

.hero__primary-heading {
  color: white;
}

// Error validations that break US Web Design Standards
// Maybe keep these selectors in
.usa-form-large div + label,
.usa-form-large div + .usa-input-error {
  clear: both;
}

.usa-input-grid-small,
.usa-input-grid-medium {

  .usa-input-error {
    margin-top: 2.1rem;

    input,
    select {
      margin-bottom: 0;
    }
  }
}

.usa-input-grid-small .usa-input-error {
  right: .5rem;

  input,
  select {
    width: calc(100% + .5rem);
  }
}
